<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pocketpetlayout">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketPetLayout">
        <activity
            android:name=".ProfileFix"
            android:exported="false" />
        <activity
            android:name=".PetProfileFix"
            android:exported="false" />
        <activity
            android:name=".PetProfileCheck"
            android:exported="false" />
        <activity
            android:name=".petProfile"
            android:exported="false" />
        <activity
            android:name=".FeedWriteActivity"
            android:exported="false" />
        <activity
            android:name=".BestBoardActivity"
            android:exported="true" />
        <activity
            android:name=".MyBoardActivity"
            android:exported="true" />
        <activity
            android:name=".AdoptBoardActivity"
            android:exported="true" />
        <activity
            android:name=".QnABoardActivity"
            android:exported="true" />
        <activity
            android:name=".FreeBoardActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".WriteActivity"
            android:exported="true" />
        <activity
            android:name=".BoardContentsActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JoinActivity2"
            android:exported="true" />
        <activity
            android:name=".JoinActivity3"
            android:exported="true" />
        <activity
            android:name=".JoinActivity4"
            android:exported="true" />
    </application>

</manifest>